################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContractPayroll/obj
/ContractPayroll/Properties
/ContractPayroll/bin
