<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContractPayroll.Properties.Settings.ReportConStr"
            connectionString="Data Source=172.16.12.14;Initial Catalog=KOSI_ATTENDANCE;User ID=sa;Password=testomonials@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>